<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  


  <add key="service_api" value="http://localhost:52195/api/measurements" />
  <!--<add key="service_api" value="https://stage-measurements.sbr.global-registry.org/v1" />-->
  <!--<add key="service_api" value="https://stage.global-registry.org/ms/v1" />-->

</appSettings>