

<button type="button" class="btn btn-default btn-sm" onclick="window.location = '#/map'; return false;">
    <span class="glyphicon glyphicon-globe" aria-hidden="true">
    </span> Map View
</button>
<div class="alert alert-info pull-right col-sm-6">
    Click on a header to sort. Double click a value to edit.
</div>
<div class="clearfix" />
<div class="church-grid" >
    <div class="gridStyle " ng-grid="gridOptions">
    </div>


    <!--<table class="table table-striped" >
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Contact</td>
                <td>Size</td>
                <td>language</td>
                <td>Ethnic Group</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ch in assignment.churches">
                <td>
                    <img src="/Content/map_icons/targeticon.png" ng-show="ch.development==1" />
                    <img src="/Content/map_icons/groupicon.png" ng-show="ch.development==2" />
                    <img src="/Content/map_icons/churchicon.png" ng-show="ch.development==3" />
                    <img src="/Content/map_icons/multipliedchurchicon.png" ng-show="ch.development==5" />
                </td>
                <td><b>{{ch.name}}</b></td>
                <td>
                    <a ng-show="ch.contact_email.length>0" href="mailto:{{ch.contact_email}}">
                        {{ch.contact_name}}
                    </a>
                    <span ng-hide="ch.contact_email.length>0">{{ch.contact_name}}</span>
                </td>
                <td>
                    {{ch.size}}
                </td>
                <td>
                    {{ch.language}}
                </td>
                <td>
                    {{ch.ethnic_group}}
                </td>
                <td>
                    <a href="" ng-click="$parent.edit_church=ch" data-toggle="modal" data-target="#editChurch">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>-->

   
</div>


<div class="modal fade" id="editChurch" tabindex="-1" role="dialog" aria-labelledby="editChurchLbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editChurchLbl">{{edit_church.name}}</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="tbUserName" class="col-sm-4 control-label">Contact Name: </label>
                    <div class="col-sm-8">
                        <input id="tbUserName" type="text" class="form-control" placeholder="Contact Name" ng-model="edit_church.name" />

                    </div>

                </div>
                <div class="form-group">
                    <label for="tbUserEmail" class="col-sm-4 control-label">Contact Email: </label>
                    <div class="col-sm-8">
                        <input id="tbUserEmail" type="email" class="form-control" placeholder="Contact Email" ng-model="edit_church.name" />

                    </div>

                </div>
                <div class="form-group">
                    <label for="ddlType" class="col-sm-4 control-label">Type: </label>
                    <div class="col-sm-8">
                        <select id="ddlType" ng-model="edit_church.development">
                            <option value="1">Target</option>
                            <option value="2">Group</option>
                            <option value="3">Church</option>
                            <option value="4">Multiplying Church</option>

                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label for="tbSize" class="col-sm-4 control-label">Size: </label>
                    <div class="col-sm-8">
                        <input id="tbSize" type="text" class="form-control" ng-model="edit_church.size" />

                    </div>

                </div>
               
                <div class="form-group">
                    <label for="tbLanguage" class="col-sm-4 control-label">Language: </label>
                    <div class="col-sm-8">
                        <input id="tbLanguage" type="text" class="form-control" placeholder="language" ng-model="edit_church.language" />

                    </div>

                </div>
                <div class="form-group">
                    <label for="tbPeopleGroup" class="col-sm-4 control-label">People Group: </label>
                    <div class="col-sm-8">
                        <input id="tbPeopleGroup" type="text" class="form-control" placeholder="People Group" ng-model="edit_church.people_group" />

                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTeamMember()">Save changes</button>
            </div>
        </div>
    </div>
</div>






