<div id="edit_training_window">
    <div style="clear:both" />
    <div class='church-window'>
        <h4>{{edit_training.name}} <small>{{edit_training.type}}</small></h4>

        <table class="table table-condensed">
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input id="tbName" type="text" class="form-control" placeholder="Name" ng-model="edit_training.name" />


                </td>
            </tr>
            <tr>
                <td><b>Training Type: </b></td>
                <td>
                    <select id="ddlTrainingType" class="form-control" ng-model="edit_training.type" ng-options="s.value as s.text for s in training_types"></select>
                </td>
            </tr>

            <tr>
                <td><b>Date:</b> </td>
                <td>
                    <input id="tbDate" type="date" class="form-control" placeholder="Date" ng-model="edit_training.date" />

                </td>
            </tr>

            
            <tr>
                <td><b>MCC:</b> </td>
                <td>
                    {{current_mcc}}

                </td>
            </tr>
        </table>
        <div class="center-block">
            <button type="button" class="btn btn-default btn-sm col-sm-4" ng-click="SaveTraining()">
                <span class="glyphicon glyphicon-save" aria-hidden="true">
                </span> Save
            </button>
            <button type="button" class="btn btn-default btn-sm  col-sm-4" ng-click="MoveTraining()">
                <span class="glyphicon glyphicon-move" aria-hidden="true">
                </span> Move
            </button>
           


        </div>
        <div style="clear: both"></div>
    </div>

</div>