<div id="edit_training_window">
    <div style="clear:both" />
    <div class='training-window'>
        <h4>{{edit_training.name}} <small>{{edit_training.type}}</small></h4>

        <table class="table table-condensed">
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input id="tbName" type="text"  placeholder="Name" ng-model="edit_training.name" />


                </td>
            </tr>
            <tr>
                <td><b>Training Type: </b></td>
                <td>
                    <select id="ddlTrainingType"  ng-model="edit_training.type" ng-options="s.value as s.text for s in training_types"></select>
                </td>
            </tr>

            <tr>
                <td><b>Date:</b> </td>
                <td>
                    <input id="tbDate" type="date" class="map-training-date" placeholder="Date" ng-model="edit_training.date" />

                </td>
            </tr>

            
            <tr>
                <td><b>MCC:</b> </td>
                <td>
                    {{current_mcc}}

                </td>
            </tr>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Stage</th>
                    <th>Date</th>
                    <th>Participants</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr ng-repeat="comp in edit_training.gcm_training_completions track by comp.id">
                    <td>
                        {{comp.phase}}
                    </td>
                    <td class="training-stages-control">
                        <span ng-hide="comp.editMode">{{comp.date}}</span>
                        <input ng-show="comp.editMode" class="map-training-date" type="date" ng-model="comp.date"></input>

                    </td>
                    <td>
                        <span ng-hide="comp.editMode">{{comp.number_completed}}</span>
                        <input ng-show="comp.editMode" class="map-training-number" type="number" ng-model="comp.number_completed"></input>

                    </td>
                    <td>
                        <a href="" ng-click="comp.editMode=true; comp.orig_date=comp.date; comp.orig_num = comp.number_completed;" ng-show="!comp.editMode">Edit</a>
                        <!--<a href="" ng-click="$parent.$parent.$parent.$parent.deleteTraining=training; $parent.$parent.$parent.$parent.deleteTrainingCompletion=comp;" data-toggle="modal" data-target="#div_deleteTrainingComp" ng-show="(!comp.editMode) && comp.phase==(training.current_stage-1) ">Delete</a>-->
                        <a href="" ng-click="comp.editMode=false; saveTrainingCompletion(comp);" ng-show="comp.editMode">Save</a>
                        <a href="" ng-click="comp.editMode=false; comp.date=comp.orig_date; comp.number_completed = comp.orig_num; " ng-show="comp.editMode">Cancel</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{training.current_stage}}
                    </td>
                    <td class="training-stages-control">
                        <input type="date" class="map-training-date" ng-model="edit_training.insert.date"></input>
                    </td>
                    <td>
                        <input type="number" class="map-training-number" ng-model="edit_training.insert.number_completed"></input>
                    </td>
                    <td>
                        <a href="" ng-click="addTrainingStage(edit_training);">Add Stage</a>

                    </td>
                </tr>
            </tbody>

        </table>


        <div class="center-block">
            <button type="button" class="btn btn-default btn-sm col-sm-4" ng-click="SaveTraining()">
                <span class="glyphicon glyphicon-save" aria-hidden="true">
                </span> Save
            </button>
            <button type="button" class="btn btn-default btn-sm  col-sm-4" ng-click="MoveTraining()">
                <span class="glyphicon glyphicon-move" aria-hidden="true">
                </span> Move
            </button>
           


        </div>
        <div style="clear: both"></div>
    </div>

</div>