<div class="alert alert-info church-mode">
    <!--<a href="#/church">Switch to List View</a>-->
</div>
<div id="map_canvas" style="width: 100%; height: 650px;">
</div>

<div id="side" class="map_side" ng-show="$parent.is_loaded">

    <button type="button" class="btn btn-map-add" ng-click="onAddIcon()">
        <img src="/Content/map_icons/targeticon.png" /> +
    </button>

    <button type="button" class="btn btn-map-add" ng-click="onAddTraining()" >
        <img src="/Content/map_icons/training.png" /> +
    </button>




    <div class="map_legend_header" ng-click="show_legend = !show_legend">
        <span>LEGEND<img class="showMoreArrow" src="/Content/map_icons/{{show_legend ? 'up' : 'down'}}.png" style="padding-left:10px"></span>
    </div>
    <table class="map_legend" ng-show="show_legend" ng-init="show_legend=true" ng-show="is_loaded">

        <tbody>
            <tr>

                <td><input type="checkbox" class="church_development_checkbox" ng-model="show_target_point" development="1" ng-change="loadChurches()"></td>

                <td style="text-align:center; padding:2px 12px"><img class="map_legend_icon" src="/Content/map_icons/targeticon.png"></td>

                <td>target point</td>

            </tr>


            <tr>

                <td><input type="checkbox" class="church_development_checkbox" ng-model="show_group" development="2" ng-change="loadChurches()"></td>

                <td style="text-align:center; padding:2px 12px"><img class="map_legend_icon" src="/Content/map_icons/groupicon.png"></td>

                <td>group</td>

            </tr>


            <tr>

                <td><input type="checkbox" class="church_development_checkbox" ng-model="show_church" development="3" ng-change="loadChurches()"></td>

                <td style="text-align:center; padding:2px 12px"><img class="map_legend_icon" src="/Content/map_icons/churchicon.png"></td>

                <td>church or community of disciples</td>

            </tr>


            <tr>

                <td><input type="checkbox" class="church_development_checkbox" ng-model="show_mult_church" development="5" ng-change="loadChurches()"></td>

                <td style="text-align:center; padding:2px 12px"><img class="map_legend_icon" src="/Content/map_icons/multipliedchurchicon.png"></td>

                <td>multiplying church or community of disciples</td>

            </tr>
            <tr>

                <td><input type="checkbox" class="church_development_checkbox" ng-model="show_training" ng-change="load_training_markers()"></td>

                <td style="text-align:center; padding:2px 12px"><img class="map_legend_icon" src="/Content/map_icons/training.png"></td>

                <td>training activity</td>

            </tr>




            <tr>

                <td><input type="checkbox" id="jesusFilmCheckBox" ng-model="show_jf"></td>

                <td style="text-align:center; padding:2px 12px">
                    <div style="display:inline-block; font-size:10px; font-weight:bold; border:1px solid #2a6800; padding:0px 3px; background-color:yellow; color:black">1</div>
                </td>

                <td>Jesus Film contribution</td>

            </tr>

            <tr>

                <td><input type="checkbox" id="parentLineCheckBox" ng-model="show_lines"></td>

                <td style="text-align:center; padding:2px 12px">
                    <div style="display:inline-block; width:14px; height:2px;  background-color:grey"></div>
                </td>

                <td>parent lines</td>

            </tr>

        </tbody>
    </table>

    <div class="map_legend_header" ng-click="show_filters = !show_filters">
        <span>FILTERS<img class="showMoreArrow" src="/Content/map_icons/{{show_filters ? 'up' : 'down'}}.png" style="padding-left:10px"></span>
    </div>
    <div class="map-legend" ng-show="show_filters" ng-init="show_filters=true">
        <div class="radio">
            <label>
                <input type="radio" id="filter_everything" ng-model="map_filter" value="everything" ng-change="loadChurches()">
                Everything
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" id="filter_my_target_area_only" ng-model="map_filter" value="min_only" ng-change="loadChurches()">
                {{assignment.name}} only
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" id="filterMyTree" ng-model="map_filter" value="tree" ng-change="loadChurches()">
                {{assignment.name}} + tree
            </label>
        </div>
        <table style="opacity: 0.4">


            <tbody>
                <tr>
                    <td><input type="checkbox" id="parentLineCheckBox" ng-model="show_campus"></td>
                    <td style="text-align:center; padding:2px 12px">
                        <div style="display:inline-block; width:14px; height:2px;  background-color:grey"></div>
                    </td>
                    <td>Universities</td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="parentLineCheckBox" ng-model="show_pop"></td>
                    <td style="text-align:center; padding:2px 12px">
                        <div style="display:inline-block; width:14px; height:2px;  background-color:grey"></div>
                    </td>
                    <td>Population</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<!--<div id="church_window" style="display: none;">
    <div style="clear:both" />
    <div class='church-window'>
        <h4>{name} <br /><small>{size} members </small> </h4>

        <table class="table table-condensed">
            <tr>
                <td><b>Contact Name: </b></td>
                <td>
                    <input type="text" class="{hide_input}" value='{contact_name}' />
                    <label class="{hide_label}">{contact_name}</label>

                </td>
            </tr>
            <tr>
                <td><b>Contact Email:</b> </td>
                <td>

                    <input type="email" class="{hide_input}" value='{contact_email}' />
                    <label class="{hide_label}">{contact_email}</label>

                </td>
            </tr>
            <tr class="{hide_input}">
                <td><b>Type:</b> </td>
                <td>
                    <select {disabled}>
                        <option value="1" {target}>Target</option>
                        <option value="2" {group}>Group</option>
                        <option value="3" {church}>Church</option>
                        <option value="4" {mult}>Multiplying Church</option>

                    </select>

                </td>
            </tr>
            <tr class="{hide_input}">
                <td><b>Size:</b> </td>
                <td>
                    <input type="number" {disabled} value="{size}"></input>

                </td>
            </tr>
            <tr>
                <td><b>Language:</b> </td>
                <td>
                    <input type="text" class="{hide_input}" value='{language}' />
                    <label class="{hide_label}">{language}</label>

                </td>
            </tr>
            <tr>
                <td><b>People Group:</b> </td>
                <td>
                    <input type="text" class="{hide_input}" value='{people_group}' />
                    <label class="{hide_label}">{people_group}</label>
                </td>
            </tr>
        </table>
    </div>

</div>-->
<!--<div id="new_church_window" style="display: none;">
    <div style="clear:both" />
    <div class='church-window'>
        <h4>Create New Church </h4>

        <table class="table table-condensed">
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text"  value='new_church.name' />

                </td>
            </tr>
            <tr>
                <td><b>Contact Name: </b></td>
                <td>
                    <input type="text" value='new_church.contact_name' />
                </td>
            </tr>
            <tr>
                <td><b>Contact Email:</b> </td>
                <td>

                    <input type="email" value='new_church.contact_email' />

                </td>
            </tr>
            <tr >
                <td><b>Type:</b> </td>
                <td>
                    <select ng-model="new_church.development">
                        <option value="1" {target}>Target</option>
                        <option value="2" {group}>Group</option>
                        <option value="3" {church}>Church</option>
                        <option value="4" {mult}>Multiplying Church</option>

                    </select>

                </td>
            </tr>
            <tr>
                <td><b>Size:</b> </td>
                <td>
                    <input type="number" {disabled} value="new_church.size"></input>

                </td>
            </tr>

        </table>
        <button class="btn btn-primary" type="button" ng-click="onAddChurch()">Add</button>
        <button class="btn" type="button" ng-click="console.log('hello');  onCancelAddChurch()">Cancel</button>
    </div>

</div>-->

<div id="map_controls" class="map-controls" ng-show="$parent.is_loaded">
    <div class="pull-left map-search" style="display: none;" >
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for churches">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">

                    </span>
                </button>
            </span>
        </div><!-- /input-group -->

    </div>
    <div class="pull-left map-mode" >

        <button type="button" class="btn btn-default btn-sm" onclick="window.location='#/church'">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true">
            </span> List View
        </button>
    </div>


</div>