<style>
    .training-stages-control input {
        line-height: inherit;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-lg-9">

            <accordion close-others="false">

                <accordion-group ng-repeat="training in assignment.trainings track by training.id">
                    <accordion-heading>
                        <div>
                            <div class="col-lg-9">
                                <div id="viewTraining" ng-hide="training.editMode">
                                    <b>{{training.name}} </b> &nbsp; &nbsp;   <i>{{ training.type }}</i>

                                    <a href="" ng-click="training.editMode=true; training.orig_name=training.name; training.orig_type=training.type; "> edit </a>
                                    <a href="" ng-click="$parent.$parent.$parent.deleteTraining=training" data-toggle="modal" data-target="#div_deleteTraining"> delete </a>
                                </div>

                                <div id="editTraining" ng-show="training.editMode">
                                    <input type="text" ng-model="training.name" />&nbsp;&nbsp;
                                    <select ng-model="training.type" ng-options="s.value as s.text for s in training_types"></select>
                                    <a href="" ng-click="training.editMode=false; saveTraining(training); "> save </a>
                                    <a href="" ng-click="training.editMode=false; training.name=training.orig_name; training.type=training.orig_type;"> cancel </a>
                                </div>



                            </div>

                            <div class="col-lg-3">Current Stage: {{training.current_stage}}</div>
                        </div>
                        <div style="clear: both"></div>
                    </accordion-heading>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Stage</th>
                                <th>Date</th>
                                <th>Number of people who completed this phase</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr ng-repeat="comp in training.gcm_training_completions track by comp.id">
                                <td>
                                    {{comp.phase}}
                                </td>
                                <td class="training-stages-control">
                                    <span ng-hide="comp.editMode">{{comp.date}}</span>
                                    <input ng-show="comp.editMode" type="date" ng-model="comp.date"></input>

                                </td>
                                <td>
                                    <span ng-hide="comp.editMode">{{comp.number_completed}}</span>
                                    <input ng-show="comp.editMode" type="number" ng-model="comp.number_completed"></input>

                                </td>
                                <td>
                                    <a href="" ng-click="comp.editMode=true; comp.orig_date=comp.date; comp.orig_num = comp.number_completed;" ng-show="!comp.editMode">Edit</a>
                                    <a href="" ng-click="$parent.$parent.$parent.$parent.deleteTraining=training; $parent.$parent.$parent.$parent.deleteTrainingCompletion=comp;" data-toggle="modal" data-target="#div_deleteTrainingComp" ng-show="(!comp.editMode) && comp.phase==(training.current_stage-1) ">Delete</a>
                                    <a href="" ng-click="comp.editMode=false; saveTrainingCompletion(comp);" ng-show="comp.editMode">Save</a>
                                    <a href="" ng-click="comp.editMode=false; comp.date=comp.orig_date; comp.number_completed = comp.orig_num; " ng-show="comp.editMode">Cancel</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{training.current_stage}}
                                </td>
                                <td class="training-stages-control">
                                    <input type="date" ng-model="training.insert.date"></input>
                                </td>
                                <td>
                                    <input type="number" ng-model="training.insert.number_completed"></input>
                                </td>
                                <td>
                                    <a href="" ng-click="addTrainingStage(training);">Add Stage</a>

                                </td>
                            </tr>
                        </tbody>

                    </table>


                </accordion-group>

            </accordion>
            <div class="col-md-5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTraining">New Training Activity</button>
            </div>
            <div class="col-md-7 panel panel-default">

                <div class="form-group panel-body">
                    <div class="col-md-6">
                        <label>Display: </label>
                        <select ng-model="show_all" ng-change="reloadTraining()">
                            <option value="year">Past Year</option>
                            <option value="all">All</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <label>Include Decendants:</label> <input type="checkbox" ng-model="show_tree" ng-change="reloadTraining()" />
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3 form-horizontal">
            <div>
                <h2>Leaders Trained</h2>
                <table class="table">
                    <tr ng-repeat="t in training_types" ng-cloak>
                        <td>{{t.text}}</td>
                        <td>{{getTrainingTotal(t.value)}}</td>
                    </tr>

                </table>



            </div>



        </div>
    </div></div>

    <div class="modal fade" id="newTraining" tabindex="-1" role="dialog" aria-labelledby="newTrainingLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="newTrainingLabel">Add a new Training Activity</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label for="tbName" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input id="tbName" type="text" class="form-control" placeholder="Name" ng-model="newTraining.name" />

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="ddlTrainingType" class="col-sm-4 control-label">Training Type</label>
                        <div class="col-sm-8">
                            <select id="ddlTrainingType" class="form-control" ng-model="newTraining.type" ng-options="s.value as s.text for s in training_types"></select>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label for="tbDate" class="col-sm-4 control-label">Date</label>
                        <div class="col-sm-8">
                            <input id="tbDate" type="date" class="form-control" placeholder="Date" ng-model="newTraining.date" />

                        </div>

                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTraining()">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="div_deleteTraining" tabindex="-1" role="dialog" aria-labelledby="deleteTrainingLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="deleteTrainingLabel">Delete Training Activity</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Are you sure that you want to delete "{{deleteTraining.name}}". This cannot be undone!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteTraining = {};">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeTraining()">Delete</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="div_deleteTrainingComp" tabindex="-1" role="dialog" aria-labelledby="deleteTrainingCompLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="deleteTrainingCompLabel">Delete Training Stage</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Are you sure that you want to delete Stage {{deleteTrainingCompletion.phase}} of "{{deleteTraining.name}}". This cannot be undone!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteTraining = {};deleteTrainingCompletion = {};">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeTrainingCompletion()">Delete</button>
                </div>
            </div>
        </div>
    </div>
